<!-- templates/users.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <h1>Users</h1>
    <ul>
        {% for user in users %}
            <li>
                <strong>Username:</strong> {{ user.username }}<br>
                <strong>Email:</strong> {{ user.email }}<br>
                <strong>Address:</strong> {{ user.address }}<br>
                <strong>Course:</strong> {{ user.course }}
            </li>
            <br>
        {% endfor %}
    </ul>
</body>
</html>